/**********************************
          GENERAL
**********************************/

body {
  font-family: 'Open Sans', sans-serif;
}

button,
.save {
  cursor: pointer;
}

input {
  outline: none;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #D1D3D4;
  font: inherit;
}

/**********************************
          HEADER/LOGO
**********************************/

.header {
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
  color: #6D6E71;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}

.logo-span {
  color: #00A79D;
}

/**********************************
          TOP SECTION
**********************************/

.top-section {
  background-color: #E5F3F2;
  padding: 10px;
}

.search-section,
.top-section-content {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}


/********** buttons ************/

.save {
  margin-bottom: 10px;
  border: none;
  color: #FFFFFF;
  background-color: #00A79D;
  padding: 5px 0 8px 0;
}

.save:hover {
  background-color: #045E55;
}

.save:disabled {
  background-color: #6d6e71;
}

/**********************************
          CARD SECTION
**********************************/

.search {
  margin-bottom: 20px;
}

.card {
  position: relative;
  padding: 10px;
}

.card-header {
  padding-bottom: 10px;
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.card-body {
  padding-bottom: 10px;
  color: #939598;
}

.card-quality {
  display: inline;
  color: #6D6E71;
}

.completed {
  background-color: lightgreen;
}

  /********** buttons ************/

.card button {
  width: 20px;
  height: 20px;
  border: none;
}

.close-card {
  position: absolute;
  right: 5px;
  top: 0;
  background: url("./svg/delete.svg");
  background-repeat: no-repeat;
}

.down-arrow {
  background: url("./svg/downvote.svg");
  background-repeat: no-repeat;
}

.up-arrow {
  background: url("./svg/upvote.svg");
  background-repeat: no-repeat;
}

.close-card:hover {
  background: url("./svg/delete-hover.svg");
}

.down-arrow:hover {
  background: url("./svg/downvote-hover.svg");
}

.up-arrow:hover {
  background: url("./svg/upvote-hover.svg");
}

/**********************************
          MEDIA QUERIES
**********************************/

@media (max-width: 518px) {
  .body {
    padding-bottom: 100px;
  }
}
