body {
  font-family: 'Open Sans', sans-serif;
}

.top-section {
  background-color: #E5F3F2;
  padding: 10px;
  margin: 0 auto;
}

.top-section-content {
  max-width: 400px;
  margin: 0 auto;
}

.bottom-section {
  max-width: 400px;
}

.search-section {
  max-width: 400px;
  margin: 0 auto;
}

input {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #D1D3D4;
  /*margin-right: 10px;
  margin-left: 10px;*/
}

input.input {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  }


.header {
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
  color: #6D6E71;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

span {
  color: #00A79D;
}

.title {

}

.body {

}

.save {
  margin-bottom: 10px;
  color: #FFFFFF;
  border: none;
  background-color: #00A79D;
}

.save:hover {
  background-color: #045E55;
}

.search {
  margin-bottom: 20px;

}

.card {
  position: relative;
  padding: 10px;

}

.card h2 {
  padding-bottom: 10px;
  color: #6D6E71;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.close-card {
  position: absolute;
  right: 5px;
  top: 0;
}

.card-body {
  padding-bottom: 10px;
  color: #939598;
}

.card-quality {
  display: inline;
  color: #6D6E71;
}

hr {
  border-color: #D1D3D4;
}


.up-arrow {

}

.down-arrow {

}
